@import "normalize.scss";
@import "reset.scss";
@import "typography.scss";

:root {
  --primary: #000D87;
  --accent: #E10050;
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-light:#B0B0B0;
  --white: #FFFFFF;
  --border-color: #B0B0B0;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}